[submodule "github-cheat-sheet"]
	path = github-cheat-sheet
	url = https://github.com/tiimgreen/github-cheat-sheet
[submodule "git-flight-rules"]
	path = git-flight-rules
	url = https://github.com/ntk148v/git-flight-rules
[submodule "tips"]
	path = tips
	url = https://github.com/git-tips/tips
